<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adding ToDo</title>
  </head>
  <body>
    <form action="http://localhost:3000/new" method="POST">
      <label for="todoName">To Do Name</label>
      <input type="text" name="todoName" />
      <br />
      <label for="todoDeadline">Deadline</label>
      <input type="date" name="todoDeadline" />
      <br />
      <button>Add</button>
    </form>
  </body>
</html>
